<div class="footer">
  <small>
    <%= link_to "String Love Guitar Practice App", "http://stringloveguitar.com" %>
    by <%= link_to "Matt Coffman", "http://stringloveguitar.com" %>
</small>
  </div>
